@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Yantramanav:wght@700&display=swap");
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  scroll-behavior: smooth;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
}

a, i, li {
  list-style: none;
  text-decoration: none;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body,
button {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body .backdrop-title::after, .backdrop-title::after {
  font-family: "Yantramanav", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-subscribe .footer-subscribe-button, body main .calculate .calculate-inner .calculate-table-wrapper::before, body main .join-us .join-us-video-wrapper .join-us-video-play-button, body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body .transparent::after, body main .text-slider .pagination .pagination-list .pagination-item .pagination-button::after, body .header .header-menu .header-menu-list .header-menu-item .is-current::after, body .header .header-actions .header-burger-button, .transparent::after {
  border-radius: 50%;
}

body {
  background-color: #000000;
  color: #C4C4C4;
  font-size: 16px;
  line-height: 1.75;
}

.container {
  max-width: 1330px;
  margin-inline: auto;
  padding-inline: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: 0.4s;
}

svg * {
  transition-duration: 0.4s;
  transition-property: fill, stroke;
}

a {
  color: #FFFFFF;
}
a:hover {
  color: #C4C4C4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
}

.title-big {
  font-size: clamp(24px, 3.13vw, 60px);
}

p {
  margin-block: 0;
}
p:not(:last-child), p:not([class]) {
  margin-bottom: 24px;
}

.button {
  display: inline-flex;
  height: 38px;
  align-items: center;
  padding-inline: 26px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: none;
  border-radius: 30px;
  white-space: nowrap;
}
.button:hover {
  background-color: #C4C4C4;
}

.backdrop-title {
  position: relative;
  z-index: 2;
}
.backdrop-title::before {
  content: "";
  position: absolute;
  right: calc(100% + 8px);
  display: block;
  width: 26px;
  aspect-ratio: 1;
  background: url("/img/icons/plus.svg") center/contain no-repeat;
}
.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.3em;
  left: -0.6em;
  font-size: 2.8em;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1px #404040;
  text-stroke: 1px #404040;
}

input {
  height: 54px;
  padding-inline: 25px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #C4C4C4;
  border-radius: 30px;
  color: #FFFFFF;
  transition-duration: 0.4s;
}
input::placeholder {
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 300;
}
input:focus {
  color: #000000;
  background-color: #C4C4C4;
  outline: none;
}
input:hover {
  border-color: #FFFFFF;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

svg * [fill] {
  fill: currentColor;
}

svg * [stroke] {
  fill: currentColor;
}

.calculate-form-input {
  height: 54px;
  padding-inline: 25px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #C4C4C4;
  border-radius: 30px;
  color: #FFFFFF;
  transition-duration: 0.4s;
  font-weight: 300;
}
.calculate-form-input::placeholder, .calculate-form-input:invalid {
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 300;
}
.calculate-form-input:focus {
  color: #000000;
  background-color: #C4C4C4;
  outline: none;
}
.calculate-form-input:hover {
  border-color: #FFFFFF;
}

.transparent {
  position: relative;
  height: 54px;
  padding: 14px 80px 14px 31px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  font-size: 13px;
  line-height: 1.3;
  color: #FFFFFF;
  transition-duration: 0.4s;
}
.transparent::after {
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1;
  background: url("/img/icons/svg.qodef-svg--button-arrow.svg") center/70% no-repeat;
  border: 1px solid #FFFFFF;
  right: 0;
}
.transparent:hover {
  color: #000000;
  background-color: #C4C4C4;
}

.centered::after {
  left: 50%;
  translate: -50% 0;
  top: -0.25em;
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

.section-description {
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.65;
  color: #FFFFFF;
  text-align: center;
}

body .header {
  padding-inline: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  min-height: 90px;
  background-color: #131619;
}
body .header .header-logo {
  flex-shrink: 0;
}
body .header .header-logo .header-logo-img {
  width: 135px;
  height: 25px;
}
body .header .header-menu {
  display: flex;
  flex-flow: row;
  column-gap: 50px;
}
body .header .header-menu .header-menu-list .header-menu-item .header-menu-link {
  display: inline-flex;
  height: 90px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
  align-items: center;
  column-gap: 7px;
}
body .header .header-menu .header-menu-list .header-menu-item .is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
}
body .header .header-actions {
  display: flex;
  column-gap: 40px;
  align-items: center;
}
body .header .header-actions .button {
  display: inline-flex;
  height: 38px;
  align-items: center;
  padding-inline: 26px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: none;
  border-radius: 30px;
  white-space: nowrap;
}
body .header .header-actions .button:hover {
  background-color: #C4C4C4;
}
body .header .header-actions .header-burger-button {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  width: 40px;
  aspect-ratio: 1;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding-left: 8px;
  transition: all 0.4s ease-in-out;
}
body .header .header-actions .header-burger-button .header-burger-button-line {
  width: 6px;
  height: 1px;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}
body .header .header-actions .header-burger-button:hover {
  color: #C4C4C4;
  border-color: currentColor;
}

@media screen and (max-width: 970px) {
  body .header {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-inline: 15px;
  }
  body .header .header-menu {
    order: 1;
    flex-basis: 100%;
  }
  body .header .header-menu .header-menu-list .header-menu-item .header-menu-link {
    height: 50px;
  }
}
@media screen and (max-width: 490px) {
  body .header {
    padding: 1rem;
  }
  body .header .header-menu {
    z-index: 1000;
    padding: 1rem;
    flex-flow: column;
    transition: 0.4s;
    top: 10%;
    width: 91.5dvw;
    background-color: #131619;
    left: -100%;
    position: fixed;
  }
  body .header .header-menu.active {
    left: 4%;
  }
  body .header .header-menu .header-menu-list .header-menu-item .header-menu-link {
    width: 60px;
  }
  body .header .header-actions .header-burger-button {
    display: inline-flex;
  }
  body .header .header-actions .header-burger-button .header-burger-button-line.active {
    box-shadow: none;
    row-gap: 0;
    padding: 0;
  }
  body .header .header-actions .header-burger-button .header-burger-button-line.active:nth-child(2) {
    transform: translateY(6px) translateX(1px) rotate(45deg);
    width: 20px;
  }
  body .header .header-actions .header-burger-button .header-burger-button-line.active:nth-child(3) {
    opacity: 0;
  }
  body .header .header-actions .header-burger-button .header-burger-button-line.active:nth-child(4) {
    transform: translateY(-4px) translateX(1px) rotate(-45deg);
    width: 20px;
  }
}
@media screen and (max-width: 390px) {
  body .header .header-actions {
    column-gap: 30px;
  }
  body .header .header-actions .button {
    height: 28px;
    font-size: 10px;
    padding-inline: 16px;
  }
}
body main .text-slider {
  min-height: calc(100vh - 90px);
  padding: 36px 70px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #FFFFFF;
  background-color: #131619;
  position: relative;
  overflow: hidden;
  width: 100dvw;
}
body main .text-slider .slider {
  text-transform: uppercase;
  overflow: hidden;
  width: 90vw;
}
body main .text-slider .slider .text-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: end;
  height: 90%;
  padding: 36px 70px;
  transition: 0.4s ease-in-out;
}
body main .text-slider .slider .text-container .text {
  width: 100dvw;
}
body main .text-slider .slider .text-container .text .text-info {
  display: flex;
  align-items: end;
  font-size: clamp(16px, 1.56vw, 30px);
  line-height: 1.27;
  font-weight: 700;
}
body main .text-slider .slider .text-container .text .text-info::before {
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  background: url("/img/icons/h1-rev-icon-1.png.svg") center/contain no-repeat;
  margin-right: 30px;
}
body main .text-slider .slider .text-container .text .tetxt-title {
  font-size: min(18.75vw, 360px);
  line-height: 1;
}
body main .text-slider .pagination .pagination-list {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}
body main .text-slider .pagination .pagination-list .pagination-item {
  display: flex;
}
body main .text-slider .pagination .pagination-list .pagination-item .pagination-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: transparent;
  border: none;
}
body main .text-slider .pagination .pagination-list .pagination-item .pagination-button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border: 1px solid #FFFFFF;
  transition-duration: 0.4s;
}
body main .text-slider .pagination .pagination-list .pagination-item .pagination-button:not(.active):hover::after {
  border-color: #C4C4C4;
}
body main .text-slider .pagination .pagination-list .pagination-item .active::after {
  background-color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  body main .text-slider {
    padding-inline: 20px;
  }
  body main .text-slider .slider {
    row-gap: 15px;
  }
  body main .text-slider .slider .text-container .text .text-info {
    margin-bottom: 5px;
  }
  body main .text-slider .slider .text-container .text .text-info::before {
    margin-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  body main .text-slider .slider .text-container {
    padding: 36px 30px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 490px) {
  body main .text-slider .slider .text-container .text .text-info {
    margin-bottom: 15px;
  }
}
body main .motivation .motivation-list .motivation-item:nth-child(even) {
  background-color: #131619;
}
body main .motivation .motivation-list .motivation-item:nth-child(even) .motivation-card {
  flex-direction: row-reverse;
}
body main .motivation .motivation-list .motivation-item .motivation-card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 10.42vw, 200px);
}
body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body {
  padding-left: 35px;
}
body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body .motivation-card-title:not(:last-child) {
  margin-bottom: 14px;
}
body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body .backdrop-title {
  position: relative;
  z-index: 2;
}
body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body .backdrop-title::before {
  content: "";
  position: absolute;
  right: calc(100% + 8px);
  display: block;
  width: 26px;
  aspect-ratio: 1;
  background: url("/img/icons/plus.svg") center/contain no-repeat;
}
body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body .backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.45em;
  left: -0.6em;
  font-size: 2.8em;
  color: transparent;
  -webkit-text-stroke: 1px #404040;
  text-stroke: 1px #404040;
}
body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body .motivation-card-description {
  max-width: 400px;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 1.75;
}
body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body .motivation-card-description:not(:last-child) {
  margin-bottom: 37px;
}
body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body .transparent {
  position: relative;
  height: 54px;
  padding: 14px 80px 14px 31px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  font-size: 13px;
  line-height: 1.3;
  transition-duration: 0.4s;
}
body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body .transparent::after {
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1;
  background: url("/img/icons/svg.qodef-svg--button-arrow.svg") center/70% no-repeat;
  border: 1px solid #FFFFFF;
  right: 0;
}
body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body .transparent:hover {
  color: #000000;
  background-color: #C4C4C4;
}
body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-img {
  margin-block: -60px;
  position: relative;
}

@media screen and (max-width: 1919px) {
  body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-img {
    margin-block: -20px;
  }
}
@media screen and (max-width: 1024px) {
  body main .motivation .motivation-list .motivation-item .motivation-card {
    padding-block: 50px;
  }
  body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-img {
    max-width: 40%;
    height: auto;
    margin-block: 0;
  }
}
@media screen and (max-width: 767px) {
  body main .motivation .motivation-list .motivation-item:nth-child(even) .motivation-card {
    flex-direction: column-reverse;
  }
  body main .motivation .motivation-list .motivation-item .motivation-card {
    flex-direction: column-reverse;
    padding-block: 30px;
    row-gap: 30px;
  }
  body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-body .motivation-card-description:not(:last-child) {
    margin-bottom: 20px;
  }
  body main .motivation .motivation-list .motivation-item .motivation-card .motivation-card-img {
    max-width: 60%;
  }
}
body main .training-types {
  position: relative;
  background-color: #000000;
  padding-top: 70px;
  padding-bottom: 120px;
}
body main .training-types .training-types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}
body main .training-types .training-types-list .training-types-item {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  background-image: url("/img/training-types/arrow.svg");
  background-position: 100% 0;
  background-size: 80px;
  background-repeat: no-repeat;
}
body main .training-types .training-types-list .training-types-item .trainings-types-item-title {
  font-size: 16px;
}

@media screen and (max-width: 1280px) {
  body main .training-types .training-types-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 767px) {
  body main .training-types .training-types-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  body main .training-types .training-types-list .training-types-item {
    padding-top: 50px;
    background-size: 50px;
    row-gap: 10px;
  }
  body main .training-types .training-types-list .training-types-item .training-types-img {
    max-width: 120px;
  }
}
body main .join-us {
  background-color: #000000;
}
body main .join-us .join-us-video-wrapper {
  position: relative;
  background: url("/img/joinUsBack.jpg") center/cover no-repeat #131619;
  padding: 150px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .join-us .join-us-video-wrapper .join-us-video {
  width: 100%;
  max-width: 960px;
  height: auto;
}
body main .join-us .join-us-video-wrapper .join-us-video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 200px;
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  column-gap: 4px;
  transition-duration: 0.4s;
}
body main .join-us .join-us-video-wrapper .join-us-video-play-button::after {
  content: "";
  width: 26px;
  aspect-ratio: 1;
  background: url("/img/icons/svg.qodef-svg--button-arrow.svg") center/contain no-repeat;
  transition-duration: 0.4s;
}
body main .join-us .join-us-video-wrapper .join-us-video-play-button:hover::after {
  filter: invert(1);
}
body main .join-us .join-us-video-wrapper .join-us-video-play-button:hover {
  color: #000000;
  background-color: #C4C4C4;
}
body main .join-us .join-us-body {
  padding-bottom: 150px;
}
body main .join-us .join-us-body .join-us-title {
  position: relative;
  font-size: clamp(64px, 9.37vw, 180px);
  line-height: 1;
  text-align: center;
  margin-top: -0.4em;
}
body main .join-us .join-us-body .join-us-title:not(:last-child) {
  margin-bottom: 130px;
}
body main .join-us .join-us-body .join-us-title::after {
  content: "";
  height: 0.7em;
  aspect-ratio: 1;
  display: inline-block;
  background: url("/img/icons/h1-rev-icon-1.png.svg") center/contain no-repeat;
  scale: 1 -1;
  margin-left: 0.14em;
}
body main .join-us .join-us-body .join-us-form .join-us-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
}
body main .join-us .join-us-body .join-us-form .join-us-form-header:not(:last-child) {
  margin-bottom: 52px;
}
body main .join-us .join-us-body .join-us-form .join-us-form-header .centered::after {
  left: 50%;
  translate: -50% 0;
  top: -0.55em;
}
body main .join-us .join-us-body .join-us-form .join-us-form-header .backdrop-title::before {
  width: 34px;
  height: 40px;
}
body main .join-us .join-us-body .join-us-form .join-us-form-body {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
body main .join-us .join-us-body .join-us-form .join-us-form-body .join-us-form-input {
  max-width: 400px;
}

@media screen and (max-width: 1024px) {
  body main .join-us .join-us-body {
    padding-bottom: 80px;
  }
  body main .join-us .join-us-body .join-us-title:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  body main .join-us .join-us-video-wrapper .join-us-video-play-button {
    width: 140px;
  }
  body main .join-us .join-us-body .join-us-title:not(:last-child) {
    margin-bottom: 40px;
  }
  body main .join-us .join-us-body .join-us-form .join-us-form-header .section-description {
    font-size: 16px;
  }
  body main .join-us .join-us-body .join-us-form .join-us-form-body {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
body main .location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
body main .location .location-map-img {
  height: auto;
}
body main .location .location-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 15px;
}
body main .location .location-body .location-title:not(:last-child) {
  margin-bottom: 14px;
}
body main .location .location-body .location-description {
  max-width: 490px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 1.75;
}
body main .location .location-body .location-description:not(:last-child) {
  margin-bottom: 37px;
}

@media screen and (max-width: 1024px) {
  body main .location {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 767px) {
  body main .location .location-body {
    padding-block: 40px;
  }
  body main .location .location-body .location-description:not(:last-child) {
    margin-bottom: 20px;
  }
}
body main .family {
  background-color: #131619;
}
body main .family .family-header {
  padding-top: 132px;
  padding-bottom: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 7px;
}
body main .family .family-body {
  display: flex;
  justify-content: center;
  gap: 26px;
  scroll-snap-type: mandatory;
  overflow-x: scroll;
}
body main .family .family-body .family-img {
  scroll-snap-align: start;
}

@media screen and (max-width: 1024px) {
  body main .family .family-body .family-img {
    height: 360px;
  }
}
@media screen and (max-width: 767px) {
  body main .family .family-header {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  body main .family .family-body {
    gap: 12px;
  }
  body main .family .family-body .family-img {
    height: 180px;
  }
}
body main .calculate {
  background-color: #131619;
  padding-block: 146px;
}
body main .calculate .calculate-inner {
  display: flex;
  align-items: center;
  column-gap: 36px;
}
body main .calculate .calculate-inner .calculate-body {
  flex-grow: 1;
  max-width: 627px;
}
body main .calculate .calculate-inner .calculate-body .calculate-title:not(:last-child) {
  margin-bottom: 16px;
}
body main .calculate .calculate-inner .calculate-body .calculete-description {
  max-width: 386px;
}
body main .calculate .calculate-inner .calculate-body .calculete-description:not(:last-child) {
  margin-bottom: 30px;
}
body main .calculate .calculate-inner .calculate-body .calculate-form .calculate-form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px;
}
body main .calculate .calculate-inner .calculate-body .calculate-form .calculate-form-body:not(:last-child) {
  margin-bottom: 26px;
}
body main .calculate .calculate-inner .calculate-body .calculate-form .calculate-form-body .wide {
  grid-column: -1/1;
}
body main .calculate .calculate-inner .calculate-body .calculate-form .calculate-form-button {
  margin-bottom: 20px;
}
body main .calculate .calculate-inner .calculate-body .calculate-form #output {
  color: #FFFFFF;
  line-height: 1.75;
  letter-spacing: 1px;
}
body main .calculate .calculate-inner .calculate-table-wrapper {
  position: relative;
  width: 100%;
  max-width: 610px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .calculate .calculate-inner .calculate-table-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  aspect-ratio: 1;
  background-color: #000000;
}
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table {
  position: relative;
  border-collapse: collapse;
}
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table td,
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table th {
  padding-right: 30px;
}
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table td:not(:last-child),
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table th:not(:last-child) {
  border-right: 1px solid #C4C4C4;
}
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table td:not(:first-child),
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table th:not(:first-child) {
  padding-left: 30px;
}
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table thead tr th {
  padding-block: 20px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #FFFFFF;
}
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table tbody tr:last-child td:first-child {
  position: relative;
}
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table tbody tr:last-child td:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  height: 1px;
  background-color: #C4C4C4;
}
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table tbody tr td {
  border-top: 1px solid #C4C4C4;
  padding-block: 14px;
  font-weight: 300;
  letter-spacing: 0.8px;
}
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table tfoot {
  color: #FFFFFF;
}
body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table tfoot tr td {
  padding-top: 33px;
  padding-bottom: 0;
  font-weight: 300;
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  body main .calculate {
    padding-block: 100px;
  }
  body main .calculate .calculate-inner .calculate-body .calculate-form .calculate-form-body {
    grid-template-columns: 1fr;
  }
  body main .calculate .calculate-inner .calculate-body .calculate-form .calculate-form-button {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  body main .calculate {
    padding-block: 60px;
  }
  body main .calculate .calculate-inner {
    column-gap: 20px;
    flex-direction: column;
    row-gap: 30px;
  }
  body main .calculate .calculate-inner .calculate-table-wrapper::before {
    display: none;
  }
  body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table td,
  body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table th {
    padding-block: 10px;
  }
  body main .calculate .calculate-inner .calculate-table-wrapper .calculate-table tfoot tr td {
    padding-top: 25px;
  }
}
@media screen and (max-width: 600px) {
  body main .calculate .calculate-inner .calculate-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main .calculate .calculate-inner .calculate-body .calculete-description {
    text-align: center;
  }
  body main .calculate .calculate-inner .calculate-body .calculate-form #output {
    text-align: center;
  }
}
body .footer .footer-main {
  padding-top: 140px;
  padding-bottom: 160px;
}
body .footer .footer-main .footer-main-inner .footer-header {
  display: grid;
  column-gap: 62px;
  grid-template-columns: 20.77% auto;
}
body .footer .footer-main .footer-main-inner .footer-header:not(:last-child) {
  margin-bottom: 60px;
}
body .footer .footer-main .footer-main-inner .footer-header .footer-logo .footer-logo-img {
  height: auto;
}
body .footer .footer-main .footer-main-inner .footer-header .footer-description {
  text-align: left;
}
body .footer .footer-main .footer-main-inner .footer-header .footer-description a {
  color: #C4C4C4;
}
body .footer .footer-main .footer-main-inner .footer-body {
  display: grid;
  column-gap: 62px;
  grid-template-columns: 20.77% repeat(3, 1fr);
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-column-title {
  font-size: clamp(18px, 1.15vw, 22px);
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-column-title:not(:last-child) {
  margin-bottom: 15px;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .has-arrow::after {
  content: "";
  height: 0.74em;
  aspect-ratio: 1;
  display: inline-block;
  background: url("/img/icons/h1-rev-icon-1.png.svg") center/contain no-repeat;
  scale: -1 1;
  margin-left: 0.5em;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-about {
  font-weight: 300;
  color: #FFFFFF;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-schedule {
  font-weight: 300;
  color: #FFFFFF;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-schedule:not(:last-child) {
  margin-bottom: 13px;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-address {
  font-weight: 300;
  color: #FFFFFF;
  font-style: normal;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-address:not(:last-child) {
  margin-bottom: 35px;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-contacts {
  font-weight: 300;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-subscribe {
  position: relative;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-subscribe:not(:last-child) {
  margin-bottom: 50px;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-subscribe .footer-subscribe-input {
  padding-right: 70px;
  font-weight: 300;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-subscribe .footer-subscribe-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  background: url(/img/icons/svg.qodef-svg--button-arrow.svg) center/70% no-repeat;
  transition-duration: 0.4s;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-subscribe .footer-subscribe-button:hover {
  background-color: #C4C4C4;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-soc1als .footer-soc1als-list {
  display: flex;
  column-gap: 18px;
}
body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-soc1als .footer-soc1als-list .footer-soc1als-item .footer-socails-link {
  display: flex;
  width: 23px;
}
body .footer .footer-extra {
  padding-block: 15px;
  background-color: #131619;
}
body .footer .footer-extra .footer-extra-inner .footer-copyright {
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  body .footer .footer-main {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  body .footer .footer-main .footer-main-inner .footer-header {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  body .footer .footer-main .footer-main-inner .footer-body {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  body .footer .footer-main {
    padding-top: 50px;
  }
  body .footer .footer-main .footer-main-inner .footer-header {
    text-align: center;
  }
  body .footer .footer-main .footer-main-inner .footer-header:not(:last-child) {
    margin-bottom: 30px;
  }
  body .footer .footer-main .footer-main-inner .footer-header .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .footer .footer-main .footer-main-inner .footer-header .footer-description {
    text-align: center;
  }
  body .footer .footer-main .footer-main-inner .footer-body {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  body .footer .footer-main .footer-main-inner .footer-body .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-about {
    max-width: 50ch;
    text-align: center;
  }
  body .footer .footer-main .footer-main-inner .footer-body .footer-column .footer-schedule {
    text-align: center;
  }
  body .footer .footer-extra {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
