@use "variables";
@use "mixinsAndExtends";

@media screen and (max-width: 1024px) {
    body {
        main {
            .family {
                .family-body {
                    .family-img {
                        height: 360px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    body {
        main {
            .family {
                .family-header {
                    padding-top: 80px;
                    padding-bottom: 50px;
                }
                .family-body {
                    gap: 12px;
                    .family-img {
                        height: 180px;
                    }
                }
            }
        }
    }
}
