@use "variables";
@use "mixinsAndExtends";

@media screen and (max-width: 1024px) {
    body {
        main {
            .join-us {
                .join-us-body {
                    padding-bottom: 80px;
                    .join-us-title {
                        &:not(:last-child) {
                            margin-bottom: 80px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        main {
            .join-us {
                .join-us-video-wrapper {
                    .join-us-video-play-button {
                        width: 140px;
                    }
                }
                .join-us-body {
                    .join-us-title {
                        &:not(:last-child) {
                            margin-bottom: 40px;
                        }
                    }
                    .join-us-form {
                        .join-us-form-header {
                            .section-description {
                                font-size: 16px;
                            }
                        }
                        .join-us-form-body {
                            flex-direction: column;
                            align-items: center;
                            row-gap: 20px;
                        }
                    }
                }
            }
        }
    }
}
