//color

$color-black:#000000;
$color-almost-black:#131619;
$color-dark-gray:#404040;
$color-light-gray:#C4C4C4;
$color-white:#FFFFFF;
//border
$border: 1px solid $color-white;
$border-radius: 30px;

//layout

$input-height: 54px;
$container-width: 1300px;
$container-padding-x: 15px; //Horizontale Abstände, um zu verhindern, dass der Inhalt an den Rändern klebt; Horizontal paddings (in eng margins) to prevent content from sticking to the edges
$transition-duration:.4s;
$header-height:90px;


